.gameboard {
    height: 1000px;
    max-width: 1000px;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.computer-space, .player-space, .computer-war, .player-war {
    display: flex;
    align-items: center;
    width: 500px;
    height:150px;
    border: 2px solid peru;
}

.deck, .face-up {
    height: 120px;
    width: 100px;
    background-color: lightsteelblue;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.face-up {
    background-color: lightcyan;
}

.hidden-card, .hidden-display {
    height: 120px;
    width: 100px;
    margin: 10px;
}

.player-info {
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 0px;
}

.players {
    font-size: 18px;
    font-weight: bold;
    color:antiquewhite;
    margin-bottom: 0px;
}

.card-count {
    margin-top: 5px;
    color: antiquewhite;
}