body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.gameboard {
    min-height: 750px;
    width: 900px;
    background-color: rgba(19, 17, 17, 0.755);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px;
    margin-top: 50px;
}

h1 {
    color: whitesmoke;
}

.computer-space, .player-space, .computer-war, .player-war {
    display: flex;
    align-items: center;
    width: 500px;
    height:150px;
}

.deck, .face-up {
    height: 120px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 4px;
    font-size: 30px;
    color: goldenrod;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
 .deck {
    background-color: black;
} 

.hidden-card, .hidden-display {
    height: 120px;
    width: 90px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    border-radius: 4px;
    font-size: 30px;
    color: goldenrod;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
      
}

.user-notify {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    width: 200px;
    height: 30px;
    margin-left: 40px;
    margin-top: 100px;
}

.player-info {
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 0px;
}

.players {
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 0px;
    text-align: left;
}

.card-count {
    margin-top: 5px;
    color: whitesmoke;
    text-align: left;
    font-size: 14px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    border-radius: 30px;
    width: 75px;
    height: 30px;
}